@{
    ViewData["Title"] = "Contact";
}


<address>
    Ukraine, Odessa<br />
    French Boulevard 66\2<br />
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:ogo.ogo50@gmail.com">ogo.ogo50@gmail.com</a><br />
    <strong>Second E-mail:</strong> <a href="mailto:v.ogo@yandex.ru">v.ogo@yandex.ru</a>
</address>


