@{
    ViewData["Title"] = "Home Page";
}


@*<h1>Берiть бiлети, блеать</h1>
<div>
    <h1>
        <a href="https://booking.uz.gov.ua/ru/?from=2200001&to=2208001&date=2018-04-19&time=00%3A00&url=train-list">Туда</a>
    </h1>
</div>
<div>
    <h1>
        <a href="https://booking.uz.gov.ua/ru/?from=2208001&to=2200001&date=2018-04-22&time=00%3A00&url=train-list">Сюда</a>
    </h1>
</div>*@

<button id="button" onclick="VoteClick()">Vote</button>
<input type="text" id="textInput"/>
<script>
    $(document).ready(function () {
        debugger;
        var hub = $.connection.SignalRHub;
        var connection = new signalR.HubConnection('/SignalR');
        connection.start();
    });
    
    function VoteClick(){
        let t = $("#textInput").val();
        let session = "1234567890";
        debugger;
        connection.invoke("Vote", session, t);
    }
</script>
